.user{
    margin-top: 1rem;
    margin-left: 2rem;
}

.userHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userList{
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #191F45;
}

.userLisst{
    background-color: #191F45;
}

.listItem{
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: slategray;
}