/* .index{
    margin: 2rem;
    background-color: black;
} */

.textField {
    margin: 2rem;
}

.textFieldBox {
    margin-top: 1rem;
}

.button {
    margin: 0.5rem !important;
}

.index {
    margin-left: 2rem;
}

.buttonArea {
    margin-top: 0.5rem;
}

.fields{
    display: flex;
    place-items: center;
}