.assigmentHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assigment{
    margin-top: 1rem;
    margin-left: 2rem;
}

.assigmentList{
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #191F45;
}

.assigmentLisst{
    background-color: #191F45;
}

.assigmentItem{
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: #757575;
}

.assigmentItem :hover{
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: #757575;
}
